__pycache__/streamlit.cpython-38.pyc
__pycache__/streamlit.cpython-37.pyc
.ipynb_checkpoints/streamlit-checkpoint.py
.ipynb_checkpoints/watcher-checkpoint.py
.ipynb_checkpoints/WindowTracker-checkpoint.ipynb
windows.db
